<!DOCTYPE html>
<html>
<head>
  <title>Doctor doug</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "doctor_doug/application", media: "all" %>
  <%= javascript_include_tag "doctor_doug/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
